<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <typeAliases>
        <package name="cn.ann.bean"/>
    </typeAliases>
    <!-- 配置环境, default可以是任意值, 但是必须有 environment 的 id 是这个值 -->
    <environments default="development">
        <!-- 配置环境 -->
        <environment id="development">
            <!-- 配置事务的类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver-class-name}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射文件的位置, 映射配置文件指的是每个dao接口对应的配置文件 -->
    <mappers>
        <mapper class="cn.ann.mapper.UserMapper"/>
    </mappers>
</configuration>
